<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5qWamfchTnyEaYn3cOCsINRI-aIjCr_M</string>
	<key>GCM_SENDER_ID</key>
	<string>1031166027479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.zebracrypto.todo.myTodoApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-539c8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-539c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031166027479:ios:3a2477538e4085f72df292</string>
</dict>
</plist>